<h1>Log In</h1>
<p>Find me in app/views/registrations/new.html.erb</p>
<%=form_with model: User, url: logins_path do |form|%>
    <div>
        <%= form.label :email %>
        <%= form.email_field :email %>
    </div>
    <div>
        <%=form.label :password %>
        <%= form.password_field :password %>
    </div>
    <div>
    <%= form.submit :"log in" %>
    </div>
<% end %>