<h1>Edit article</h1>

<p>
    blog user id is 
    <%= @blog.user_id  %>
</p> <br/>
<p>
    user id is 
    <%= @user.id %>
</p>
<p>
    session[:blog_id] is  
    <%= @test %>
</p>

<p>
    session blog is  
    <%= @blogsession %>
</p>


<%= form_with model: @blog, url: dashboards_path do |f| %>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
  
    <p>
      <%= f.label :blog %><br/>
      <%= f.text_area :blog %>
    </p>
  
    <p>
        <%= f.submit :"submit" %>
    </p>
<% end %>