<h1>Blog Details</h1>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>


<table>
    <thead>
        <tr>
        <th><strong> Title: </strong> </th>
        <th><strong> Blog: </strong>  </th>
        <th><strong> Author: </strong> </th>
        <th><strong> Date Published: </strong> </th>
        <th><strong> Date Updated: </strong> </th>

        <th><strong> Article ID: </strong> </th>


        </tr>
    </thead>


    <tbody>
        <tr>
            <td> <%= @blog.title %>
            <td> <%= @blog.blog %>
            <td> <%= User.find_by(id: @blog.user_id).email %>
            <td > <%= @blog.created_at %>
            <td> <%= @blog.updated_at %>

            <td> <%= @blog.id %>

        </tr>
    </tbody>
</table>

<%= link_to "Back To Blog Index", dashboards_path%>
